@font-face {
  font-family: "iconfont"; /* Project id 2842456 */
  src: url('//at.alicdn.com/t/font_2842456_e1bdn6go468.woff2?t=1633605381090') format('woff2'),
       url('//at.alicdn.com/t/font_2842456_e1bdn6go468.woff?t=1633605381090') format('woff'),
       url('//at.alicdn.com/t/font_2842456_e1bdn6go468.ttf?t=1633605381090') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e686";
}

.icon-tuichu:before {
  content: "\e656";
}

.icon-search:before {
  content: "\e685";
}

.icon-weixin:before {
  content: "\e65b";
}

.icon-fenlei:before {
  content: "\e669";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-like-fill:before {
  content: "\e67e";
}

.icon-like-round:before {
  content: "\e683";
}

.icon-mima:before {
  content: "\e626";
}

.icon-zhanghao:before {
  content: "\e60d";
}

.icon-daimakuai:before {
  content: "\e6af";
}

.icon-daima:before {
  content: "\e60e";
}

.icon-tupian:before {
  content: "\e6b9";
}

.icon-double-quotes-l:before {
  content: "\e730";
}

.icon-01jiacu:before {
  content: "\e681";
}

.icon-02xieti:before {
  content: "\e682";
}

.icon-04shanchuxian:before {
  content: "\e684";
}

.icon-07lianjie:before {
  content: "\e687";
}

.icon-13biaoti1:before {
  content: "\e68d";
}

.icon-14biaoti2:before {
  content: "\e68e";
}

.icon-15biaoti3:before {
  content: "\e68f";
}

.icon-16biaoti4:before {
  content: "\e690";
}

.icon-17biaoti5:before {
  content: "\e691";
}

.icon-18biaoti6:before {
  content: "\e692";
}

.icon-20xiangmufuhao:before {
  content: "\e694";
}

.icon-21bianhaogeshi:before {
  content: "\e695";
}

.icon-qiehuan:before {
  content: "\e647";
}

.icon-yanse:before {
  content: "\e74f";
}

.icon-my-fill:before {
  content: "\e663";
}

.icon-time-fill:before {
  content: "\e66a";
}

.icon-news-hot-fill:before {
  content: "\e679";
}

.icon-zhuye:before {
  content: "\e655";
}
